/* Colors */
:root {
    --color-pale-blue: hsl(225, 100%, 94%);
    --color-bright-blue: hsl(244, 75%, 52%);
    --color-bright-blue-hover: hsl(244, 82%, 68%);

    --color-very-pale-blue: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);
    --color-white: hsl(0, 0%, 100%)
  }